:root {
  --text: #ddd;
  --bg:   #33343f;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  color-scheme: light dark;
  font: 18px/145% var(--sans);
  background: var(--bg);
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#rollfudge {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text);
  font-size: 18px;
  cursor: pointer;
}

#rollfudge:hover {
  background: rgb(255 255 255 / 10%);
}
